{% extends 'layout/base.html' %}
{% load static %}

{% block css %}
<style>
  /* Add your CSS styles here */
  #contact {
    width: 100%;
    height: auto;
    background: rgb(15, 157, 182);
    background: linear-gradient(360deg, rgb(245, 255, 245) 0%, rgb(15, 157, 182) 100%);
    color: black;
    padding: 50px 0;
    text-align: center;
  }

  #contact h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: century;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .contact-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }

  .contact-form {
    flex-basis: 40%;
    padding: 20px;
  }

  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }

  .send-button {
    background-color: #0f9db6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }

  .send-button:hover {
    background-color: #0c7f93;
  }

  .direct-contact-container {
    flex-basis: 45%;
    padding: 20px;
  }

  .contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .contact-list li {
    margin-bottom: 10px;
    text-align: left;
  }

  .contact-list i {
    margin-right: 10px;
  }

  .social-media-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: start;
  }

  .social-media-list li {
    margin: 0 10px;
  }

  .social-media-list a {
    color: #0f9db6;
    font-size: 1.5rem;
  }

  .social-media-list a:hover {
    color: #0c7f93;
  }

  .copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8rem;
  }
</style>
{% endblock css %}

{% block body %}
<section id="contact">
  <h1>Contact</h1>
  <div class="contact-wrapper">
    <!-- Left contact page -->
    <form method="post" action="{% url 'saveenquiry' %}" role="form" novalidate class="bv-form contact-form" id="contact-form">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-group">
        <input type="text" class="form-control" id="name" placeholder="Name" name="name" value="" required>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Email" name="email" value="" required>
      </div>
      <div class="form-group">
        <textarea class="form-control textarea-control" rows="5" placeholder="Message" name="message" required></textarea>
      </div>
      <button class="send-button" type="submit">Send</button>
    </form>

    <!-- Right contact page -->
    <div class="direct-contact-container">
      <ul class="contact-list">
        <li class="list-item">
          <i class="fa fa-map-marker fa-2x"></i>
          <span>Jaunpur, UP</span>
        </li>
        <li class="list-item">
          <i class="fa fa-phone fa-2x"></i>
          <span>
            <a href="tel:7080735344" title="Give me a call">+91 70807 35344</a>
          </span>
        </li>
        <li class="list-item">
          <i class="fa fa-envelope fa-2x"></i>
          <span>
            <a href="mailto:vanshsrivastavjnp@gmail.com" title="Send me an email">vanshsrivastavjnp@gmail.com</a>
          </span>
        </li>
      </ul>
      <hr>
      <ul class="social-media-list">
        <li><a href="https://github.com/VanshSrivastav21-VS"><i class="fa-brands fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/vansh-srivastav-24550828b/"><i class="fa-brands fa-linkedin"></i></a></li>
        <li><a href="https://www.instagram.com/vanshrivastav._.4u?igsh=eXd0NXh6MndnZ2Q1"><i class="fa-brands fa-instagram"></i></a></li>
      </ul>
      <hr>
      <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>
    </div>
  </div>
</section>
{% endblock body %}
